@namespace Dunamix.Material2SicElf.Controls
@*
File Purpose:       Contains the floating "UP" button it the corner.
Recommendations:    We recommend to use an SVG for the logo.
Nice to know:       -
TODO:
    - Title should be i18n @2md
*@

<!-- Footer -->
<div class="container d-md-flex py-1 align-items-center">
    <div class="row mx-auto justify-content-center">
        <div class="col-12">
            <img class="img-fluid w-75" src="/files/logo-sm.png" alt="Dunamix">
        </div>
    </div>
    <div class="row mx-auto bg-black text-center">
        <div class="col-12">
            © Copyright 2018-2023 <strong><span>.NET Foundation</span></strong>. All Rights Reserved. Powered by <a href="https://www.oqtane.org/">Oqtane</a> on Blazor...
        </div>
    </div>
</div>
@code
{
    const string FooterPrefix = "dunamix-";
}
